body {
  font-family: "Courier New", Courier, monospace;
  background-color: #dcdcdc;
  margin: 0;
  align-items: center;
}
.weather-app {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 280px;
  padding: 20px;
  text-align: center;
}
