body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #6e7981;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

h1 {
  color: black;
}
.weather {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
  text-align: center;
}
.circle {
  width: 120px;
  height: 120px;
  background: linear-gradient(145deg, #4a90e2, #357ab7);
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
}
.date {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  margin-top: 0px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 14px;
}
.detail p {
  margin: 0;
}
